*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

li, a, button{
  font-family: ;
  font-weight:500;
  font-size:16px;
  color:#bbbbbb;
  text-decoration: none;
}

header{

  width: 100%;
  height: 100px;
  margin-top: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo{
  cursor: pointer;
}

.nave_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding:0px 20px;
  float:right;
  margin-top:20px;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color:#272727;
}
section{
  margin: 5px 0 0 0;
  float:center;

}
.float_left{
    float:left;
    margin-left:10px;
}
.float_left img{
  width:60px;
  margin-left:10px;
}
